.App {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: crimson;
  height: 100vh;
  padding: 20px;
}

.cntdwn{
  background-color: aqua;
  border: 2px black;
  border-radius: 10px;
  padding: 10px;
  height: 240px;
}
.cnt{
  background-color: aqua;
  border: 2px black;
  border-radius: 10px;
  padding: 20px;
  height: 220px;
}
